@import "./../../App.scss";

.card {
    position: relative;
    padding: 0 min(2.87vh, 1.61vw);
    // padding-top: calc(15.74vh);
    padding-top: calc(min(19.63vh, 11.04vw) - min(4.44vh, 2.5vw));
    margin-top: min(4.44vh, 2.5vw);
    top: 0;
    height: min(35.56vh, 20vw); //384px
    width: min(33.42vh, 18.8vw); //361px

    background: linear-gradient(
        152.97deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    -webkit-backdrop-filter: blur(42px);
    backdrop-filter: blur(42px);

    border-radius: 16px;
    border: 1px solid;
    border-image-source: radial-gradient(
            69.43% 69.43% at 50% 50%,
            #ffffff 0%,
            rgba(255, 255, 255, 0) 100%
        ),
        radial-gradient(
            60% 51.57% at 50% 50%,
            #e7ce4a 0%,
            rgba(227, 205, 75, 0) 100%
        ),
        radial-gradient(
            54.8% 53% at 50% 50%,
            #151515 0%,
            rgba(21, 21, 21, 0) 100%
        );

    div {
        margin-left: 0 !important;
    }

    .icon {
        position: absolute;
        top: 0;
        left: 50%;
        height: min(19.63vh, 11.04vw); // 212px
        // height: fhdScaleMin(212); // 212px
        transform: translateY(calc(max(-4.44vh, -2.5vw))) translateX(-50%);
    }
    .title {
        font-family: "Poppins-Semi-Bold";
        font-size: min(2.22vh, 1.25vw);
        text-align: center;
    }
    .desc {
        margin-top: min(4.17vh, 2.34vw);
        font-size: min(1.67vh, 0.94vw);
        text-align: center;
    }
}
