@import "./../../components/utilities.scss";

.section {
    position: relative;
    padding: var(--section-padding-vertical) var(--section-padding-horizontal);

    background: radial-gradient(50% 50% at 50% 50%, #1e1f2c 0%, #000000 100%);

    .content {
        display: block;
        --bottom-margin: min(4.17vh, 2.34vw);

        .heading1 {
            font-size: min(4.44vh, 2.5vw);
            font-family: "Poppins-Semi-Bold";
            text-align: center;
            margin-bottom: var(--bottom-margin);
        }
        .heading2 {
            font-size: fhdScaleMin(40); // 40px
            font-family: "Poppins-Semi-Bold";
            text-align: center;
            margin-bottom: var(--bottom-margin);
        }
        .description {
            // margin: 0 min(29.63vh, 16.67vw);
            // margin: 0 10%;
            font-size: min(2.78vh, 1.56vw);
            text-align: center;
            margin-bottom: var(--bottom-margin);
        }
        .horizontalScroll {
            overflow-x: auto;
            display: flex;
            justify-content: space-between;
            div + div {
                margin-left: min(5.55vh, 3.125vw);
            }
        }

        .section2content {
            display: flex;
            align-items: center;

            > div {
                vertical-align: middle;
                display: inline-block;

                .title {
                    font-weight: 500;
                    font-size: fhdScaleMin(48); // 48px
                    text-align: center;
                }
                .description {
                    font-size: fhdScaleMin(20); // 20px
                    text-align: initial;
                    margin: revert;
                }
            }
            img {
                height: fhdScaleMin(654); // 654px
            }
        }

        .section3content {
            padding-top: fhdScaleMin(100); // 152px adjusted to 110px
            padding-bottom: fhdScaleMin(276); // 276px
            text-align: center;

            .bigCoin {
                height: fhdScaleMin(398); // 398px
            }
            .yellowRing {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-55%, -45%);
                height: 100%;
                width: 100%;
            }
            .smallCard {
                position: absolute;
                height: fhdScaleMin(251); // 251px
            }
        }
    }
}
.heroSection {
    height: 100vh;
    padding-top: var(--section-hero-padding-top);

    .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 40%;

        .heading {
            $font-size: calc(11.11vh * 2);
            $font-size-alt: calc(6.25vw * 2);
            font-size: min(calc(#{$font-size/2}), calc(#{$font-size-alt/2}));

            // font-weight: 600;
            font-family: "Poppins-Semi-Bold";

            div + div {
                margin-top: 1rem;
            }
        }
        .brief {
            $font-size: calc(2.78vh * 2);
            $font-size-alt: calc(1.56vw * 2);
            font-size: min(calc(#{$font-size/2}), calc(#{$font-size-alt/2}));

            margin-top: 2.5rem;
            margin-top: min(3.7vh, 2.08vw);

            // font-size: 1.87rem;
            font-weight: 400;

            div + div {
                margin-top: 0.5rem;
            }
        }
    }
    .yellowRing {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }
    .coinBanner {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
    }

    .heroCard {
        position: absolute;
        bottom: 0;
        right: 0;

        width: 278px;
        width: min(25.74vh, 14.48vw);
        // height: 92px;
    }
    .heroCard[data-number="1"] {
        right: 22.7vw;
        bottom: 34.26vh;
    }
    .heroCard[data-number="2"] {
        right: 8.23vw;
        bottom: 24.53vh;
    }
    .heroCard[data-number="3"] {
        right: 13.54vw;
        bottom: 12.03vh;
    }

    .scrollDown {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 1.3rem;
        margin-bottom: min(1.92vh, 1.08vw);
        // min(1.48vh, 0.83vw)

        div {
            margin-bottom: 0.75rem;
            margin-bottom: min(1.11vh, 0.62vw);

            font-size: 1.125rem;
            font-size: min(1.66vh, 0.93vw);
        }

        img {
            display: block;
            margin: auto;

            height: 2.37rem;
            height: min(3.5vh, 1.97vw);
        }
    }
}
