@import "./../../components/utilities.scss";

.section {
    position: relative;
    padding: var(--section-padding-vertical) var(--section-padding-horizontal);

    background: radial-gradient(50% 50% at 50% 50%, #1e1f2c 0%, #000000 100%);

    .content {
        display: block;
        --bottom-margin: min(4.17vh, 2.34vw);

        .heading1 {
            // font-size: min(4.44vh, 2.5vw);
            font-size: fhdScaleMin(48); // 48px
            font-family: "Poppins-Semi-Bold";
            text-align: center;
            margin-bottom: var(--bottom-margin);

            @media screen and (max-width: 768px) {
                font-size: 1.5rem;
            }
        }
        .heading2 {
            font-size: fhdScaleMin(40); // 40px
            font-family: "Poppins-Semi-Bold";
            text-align: center;
            margin-bottom: var(--bottom-margin);
        }
        .description {
            // margin: 0 min(29.63vh, 16.67vw);
            // margin: 0 10%;
            font-size: fhdScaleMin(30); // 30px
            text-align: center;
            margin-bottom: var(--bottom-margin);

            @media screen and (max-width: 768px) {
                font-size: 1rem;
                line-height: 1.7;
                margin: 0 0.5rem;
            }
        }
        .horizontalScroll {
            overflow-x: auto;
            display: flex;
            justify-content: space-between;

            > div + div {
                margin-left: min(5.55vh, 3.125vw);
            }

            @media screen and (max-width: 768px) {
                display: block;
                white-space: nowrap;
                margin: 0 -2rem;
                padding: 0 2rem;

                > div {
                    display: inline-block;
                    white-space: normal;
                    vertical-align: middle;
                }
                > div + div {
                    margin-left: 2rem;
                }
            }
        }

        .section2content {
            display: flex;
            align-items: center;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            > div.visiblePC {
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
            .details {
                @media screen and (max-width: 768px) {
                    padding: 1rem;
                    background-color: #1e1f2c;
                    border-radius: 2rem;
                }
            }
            .details:last-child {
                @media screen and (max-width: 768px) {
                    margin-top: 1rem;
                }
            }
            > div {
                vertical-align: middle;
                display: inline-block;

                @media screen and (max-width: 768px) {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
                .title {
                    font-weight: 500;
                    font-size: fhdScaleMin(48); // 48px
                    text-align: center;

                    @media screen and (max-width: 768px) {
                        font-size: 1rem;
                    }
                }
                .description {
                    font-size: fhdScaleMin(20); // 20px
                    text-align: initial;
                    margin: revert;

                    @media screen and (max-width: 768px) {
                        font-size: 0.7rem;
                        ul {
                            margin: 0;
                            padding-left: 1rem;
                        }
                    }
                }
            }
            img {
                height: fhdScaleMin(654); // 654px

                @media screen and (max-width: 768px) {
                    width: 80%;
                    height: auto;
                }
            }
        }

        .section3content {
            padding-top: fhdScaleMin(100); // 152px adjusted to 110px
            padding-bottom: fhdScaleMin(276); // 276px
            text-align: center;

            .bigCoin {
                height: fhdScaleMin(398); // 398px
            }
            .yellowRing {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-55%, -45%);
                height: 100%;
                width: 100%;
            }
            .smallCard {
                position: absolute;
                height: fhdScaleMin(251); // 251px
            }
        }

        .section4content {
            .row {
                display: flex;
                align-items: center;

                > div {
                    flex: 1;
                    max-width: 50%;
                }
                .info {
                    .heading1 {
                        text-align: left;
                        line-height: 1.5;
                    }
                    .description {
                        text-align: left;
                        line-height: 1.5;
                    }
                }
                .image {
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
    }
}
.heroSection {
    height: 100vh;
    padding-top: var(--section-hero-padding-top);

    @media screen and (max-width: 768px) {
        .wrapper {
            position: relative;
            background: url("./../../assets/images/elipse.png");
            background-size: cover;
            margin: -1rem;

            .yellowRing {
                display: none;
            }
            .coinBanner {
                position: relative;
                top: 0;
                right: 0;
                height: auto;
                width: 100%;
                transform: revert;

                content: url("./../../assets/images/coinbanner-mobile.png");
            }
        }
    }

    .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 40%;

        @media screen and (max-width: 768px) {
            position: initial;
            top: initial;
            margin: initial;
            transform: initial;
        }

        .heading {
            $font-size: calc(11.11vh * 2);
            $font-size-alt: calc(6.25vw * 2);
            font-size: min(calc(#{$font-size/2}), calc(#{$font-size-alt/2}));
            font-family: "Poppins-Semi-Bold";

            @media screen and (max-width: 768px) {
                font-size: 2.5rem;
            }

            div + div {
                margin-top: 1rem;
                @media screen and (max-width: 768px) {
                    margin-top: 0.5rem;
                }
            }
        }
        .brief {
            $font-size: calc(2.78vh * 2);
            $font-size-alt: calc(1.56vw * 2);
            font-size: min(calc(#{$font-size/2}), calc(#{$font-size-alt/2}));
            font-weight: 400;

            margin-top: 2.5rem;
            margin-top: min(3.7vh, 2.08vw);

            @media screen and (max-width: 768px) {
                margin-top: 1.5rem;
                font-size: 0.7rem;
            }

            div + div {
                margin-top: 0.5rem;
            }
        }
        .buttonWrapper {
            button {
                @media screen and (max-width: 768px) {
                    margin-top: 1.5rem;
                    color: black;
                    background: #ffe600;
                }
            }
        }
    }
    .yellowRing {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }
    .coinBanner {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
    }

    .heroCard {
        position: absolute;
        bottom: 0;
        right: 0;

        width: 278px;
        width: min(25.74vh, 14.48vw);

        @media screen and (max-width: 768px) {
            width: 150px;
        }
    }
    .heroCard[data-number="1"] {
        right: 22.7vw;
        bottom: 34.26vh;

        @media screen and (max-width: 768px) {
            top: 50%;
            transform: translateY(-50%);
            left: 2rem;
            right: initial;
            bottom: initial;
        }
    }
    .heroCard[data-number="2"] {
        right: 8.23vw;
        bottom: 24.53vh;

        @media screen and (max-width: 768px) {
            bottom: 30%;
        }
    }
    .heroCard[data-number="3"] {
        right: 13.54vw;
        bottom: 12.03vh;

        @media screen and (max-width: 768px) {
            right: initial;
            left: 13.54vw;
            bottom: 15%;
        }
    }

    .scrollDown {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 1.3rem;
        margin-bottom: min(1.92vh, 1.08vw);

        @media screen and (max-width: 768px) {
            margin-bottom: 1rem;
        }

        div {
            margin-bottom: 0.75rem;
            margin-bottom: min(1.11vh, 0.62vw);

            font-size: 1.125rem;
            font-size: min(1.66vh, 0.93vw);

            @media screen and (max-width: 768px) {
                margin-bottom: 0.5rem;
                font-size: 0.7rem;
            }
        }

        img {
            display: block;
            margin: auto;

            height: 2.37rem;
            height: min(3.5vh, 1.97vw);

            @media screen and (max-width: 768px) {
                height: 1.5rem;
            }
        }
    }
}

.visibleMobile {
    display: none;

    @media screen and (max-width: 768px) {
        display: revert;
    }
}
.visiblePC {
    @media screen and (max-width: 768px) {
        display: none;
    }
}
