@import "./../utilities.scss";

.footer {
    padding: var(--section-padding-vertical) var(--section-padding-horizontal);
    padding-bottom: 0;

    .flexWrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: var(--section-padding-vertical);

        .logo {
            font-size: fhdScaleMin(36); // 36px

            font-family: "Halvar Breitschrift";
            // font-size: xx-large;
            font-weight: 700;

            @media screen and (max-width: 768px) {
                font-size: 1rem;
            }

            img {
                width: 44px;
                width: min(4.07vh, 2.29vw);
                margin-right: 1.5rem;
                margin-right: min(2.22vh, 1.24vw);
                vertical-align: middle;

                @media screen and (max-width: 768px) {
                    width: 25px;
                    margin-right: 1rem;
                }
            }
        }
        .links {
            text-align: right;

            .websiteLinks {
                margin-bottom: fhdScaleMin(62.28);

                button {
                    background: none;
                    margin: 0;
                    border: 0;
                    outline: 0;

                    font-size: fhdScaleMin(24); // 24px
                    font-weight: 500;

                    @media screen and (max-width: 768px) {
                        font-size: 0.7rem;
                    }
                }
                button + button {
                    margin-left: fhdScaleMin(62); // 62px
                }
            }
            .socialLinks {
                img {
                    height: fhdScaleMin(36.55);

                    @media screen and (max-width: 768px) {
                        height: 1rem;
                    }
                }
                img + img {
                    margin-left: fhdScaleMin(29.14);
                }
            }
        }
    }
    .notices {
        text-align: center;
        font-size: fhdScaleMin(18);
        padding-bottom: fhdScaleMin(42);

        @media screen and (max-width: 768px) {
            font-size: 0.5rem;
        }

        span + span {
            margin-left: fhdScaleMin(45);
        }
    }
}
