// fonts
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins-Bold";
    src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
    font-family: "Poppins-Semi-Bold";
    src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: "Halvar Breitschrift";
    src: url("./assets/fonts/Halvar-Breitschrift/HalvarBreit-Rg.ttf");
}
@font-face {
    font-family: "Halvar Breitschrift Bold";
    src: url("./assets/fonts/Halvar-Breitschrift/HalvarBreit-XBd.ttf");
}
@font-face {
    font-family: "Halvar Breitschrift Medium";
    src: url("./assets/fonts/Halvar-Breitschrift/HalvarBreit-Md.ttf");
}

// normalize
* {
    box-sizing: border-box;
}

// variables
body {
    --navbar-padding-vertical: 3rem;
    --navbar-padding-vertical: min(4.44vh, 2.49vw);

    --section-padding-horizontal: 9rem;
    --section-padding-horizontal: min(13.32vh, 7.47vw);
    --section-padding-vertical: 1rem;
    --section-padding-vertical: min(6.48vh, 3.64vw); // 70px
    --section-hero-padding-top: 9rem;

    @media screen and (max-width: 768px) {
        --navbar-padding-vertical: 1rem;
        --section-padding-horizontal: 1rem;
        --section-padding-vertical: 1rem;
    }
}

// body props
body {
    background-color: black;
    color: white;

    font-family: "Poppins";
}

// misc classes
.yellow-font-color {
    color: #ffe600;
}
.green-font-color {
    color: #00ffc2;
}
ul {
    padding-inline-start: 30px;
}
